class TestClass {
    def waitFor(Closure closure) {
        closure.call()
    }

    boolean booleanMethod(boolean returned) {
        returned
    }

    def run() {
        waitFor {
            $closureBody
        }
    }
}