version: 2
jobs:
  modules:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-modules
      - run: ./gradlew --no-daemon --max-workers 2 --parallel -p module -Pci check --continue
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-modules
          paths:
            - .gradle-home
  integrations:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-integrations
      - run: ./gradlew --no-daemon --max-workers 2 --parallel -p integration -Pci check --continue
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-integrations
          paths:
            - .gradle-home
  manual:
    machine: true
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-manual-machine
      - run:
          command: |
            export WORKING_DIRECTORY=`pwd`
            docker run -v ${WORKING_DIRECTORY}:${WORKING_DIRECTORY} -v /var/run/docker.sock:/var/run/docker.sock -w ${WORKING_DIRECTORY} gebish/ci:v7 /bin/bash -c "Xvfb :99 -screen 1 1280x1024x16 -nolisten tcp -fbdir /var/run > /dev/null 2>&1 & export DISPLAY=:99 ; GRADLE_OPTS=\"-Xmx1024m -XX:MaxMetaspaceSize=256m\" GRADLE_USER_HOME=\".gradle-home\" ./gradlew --no-daemon --max-workers 2 --parallel -Pci :doc:manual-snippets:check :doc:manual:build"
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-manual-machine
          paths:
            - .gradle-home
  site:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-site
      - run: ./gradlew --no-daemon --max-workers 2 --parallel -p doc/site -Pci check
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-site
          paths:
            - .gradle-home
  dockerised-cross-browser:
    machine: true
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-dockerised-crossbrowser
      - run:
          command: |
            export WORKING_DIRECTORY=`pwd`
            docker run -v ${WORKING_DIRECTORY}:${WORKING_DIRECTORY} -v /var/run/docker.sock:/var/run/docker.sock -w ${WORKING_DIRECTORY} gebish/ci:v7 /bin/bash -c "GRADLE_OPTS=\"-Xmx1024m -XX:MaxMetaspaceSize=256m\" GRADLE_USER_HOME=\".gradle-home\" ./gradlew --no-daemon --parallel -Pci allDockerisedCrossBrowserTests"
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-dockerised-crossbrowser
          paths:
            - .gradle-home
  local-cross-browser:
    docker:
      - image: gebish/ci:v9
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-local-crossbrowser
      - run: ./gradlew --no-daemon --max-workers 2 --parallel -p module -Pci localChromeTest
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-local-crossbrowser
          paths:
            - .gradle-home
  saucelabs:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-saucelabs
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              ./gradlew --no-daemon -Pci allSauceLabsTests
            fi
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-saucelabs
          paths:
            - .gradle-home
  lambdatest:
    docker:
      - image: gebish/ci:v7
    environment:
      GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
      GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-lambdatest
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              ./gradlew --no-daemon -Pci allLambdaTestTests
            fi
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-lambdatest
          paths:
            - .gradle-home
  non-ie:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-non-ie
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              ./gradlew --no-daemon -Pci nonIeBrowserStackTests
            fi
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-non-ie
          paths:
            - .gradle-home
  ie:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-ie
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              ./gradlew --no-daemon -Pci ieBrowserStackTests
            fi
      - store_artifacts:
          path: build/reports
      - save_cache:
          key: gradle-home-ie
          paths:
            - .gradle-home
  upload:
    docker:
      - image: gebish/ci:v7
    environment:
        GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
        GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-home-upload
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              ./gradlew --no-daemon -Pci uploadArchives
            fi
      - save_cache:
          key: gradle-home-upload
          paths:
            - .gradle-home
  publish-site:
    docker:
      - image: gebish/ci:v7
    steps:
      - checkout
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/gebish.git
              git push -f heroku master
            fi
  trigger-example-projects:
    docker:
      - image: gebish/ci:v7
    steps:
      - run:
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              curl -X POST -u ${CIRCLE_API_EXAMPLE_GRADLE_TOKEN}: https://circleci.com/api/v1.1/project/github/geb/geb-example-gradle/tree/latest
              curl -X POST -u ${CIRCLE_API_EXAMPLE_CUCUMBER_JVM_TOKEN}: https://circleci.com/api/v1.1/project/github/geb/geb-example-cucumber-jvm/tree/latest
              curl -X POST -u ${CIRCLE_API_EXAMPLE_MAVEN_TOKEN}: https://circleci.com/api/v1.1/project/github/geb/geb-example-maven/tree/latest
              curl -H "Authorization: Bearer ${APPVEYOR_TOKEN}" -H "Content-type: application/json" -X POST https://ci.appveyor.com/api/builds -d '{"accountName": "erdi", "projectSlug": "geb-example-gradle", "branch": "latest"}'
            fi

workflows:
  version: 2
  build-workflow:
    jobs:
      - modules
      - integrations:
          requires:
            - modules
      - manual:
          requires:
            - modules
      - site:
          requires:
            - modules
      - dockerised-cross-browser:
          requires:
            - integrations
            - manual
            - site
      - local-cross-browser:
          requires:
            - integrations
            - manual
            - site
      - saucelabs:
          requires:
            - integrations
            - manual
            - site
      - lambdatest:
          requires:
            - integrations
            - manual
            - site
      - non-ie:
          requires:
            - integrations
            - manual
            - site
      - ie:
          requires:
            - non-ie
      - upload:
          requires:
            - dockerised-cross-browser
            - local-cross-browser
            - saucelabs
            - lambdatest
            - ie
          filters:
            branches:
              only: master
      - publish-site:
          requires:
            - upload
          filters:
            branches:
              only: master
      - trigger-example-projects:
          requires:
            - upload
          filters:
            branches:
              only: master