class TestClass {
    static at = {
        $closureBody
    }

    def waitFor(Closure closure) {
        closure.call()
    }

    boolean booleanMethod(boolean returned) {
        returned
    }

    static void voidMethod() {
    }

    String nullReturningMethod() {
        null
    }

    def run() {
        waitFor {
            $closureBody
        }
    }
}