* { padding: 0; margin: 0; }

body {
	margin: 0;
	padding: 0;
	font: normal 12px Verdana, 'Trebuchet MS', Tahoma, sans-serif;
	color: #555;
	text-align: center;
	background: #180700;
}

p, ul {
	line-height: 180%;
}

a {
	color:#CB4721;
	background-color: inherit;
	text-decoration: none;
}

a:hover {
	background-color: inherit;
	text-decoration: underline;
}

h1, h2, h3 {
	font: normal 1em Georgia, "Times New Roman", Times, serif;
	color:#111;
	letter-spacing:-1px;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; color:#74743D; }
h3 { font-size: 2em; color:#C34E23; letter-spacing: 0px;}

p, h1, h2, h3, ul {
	margin: 12px 14px;
	padding: 0;
}

ul, ol {
	margin: 10px 30px;
	padding: 0 15px;
}

img {
	border: 1px solid #DADADA;
	padding: 2px;
}

img.no-border {
	border: none;
}

img.float-right {
	margin: 5px 0px 5px 15px;
}

img.float-left {
	margin: 5px 15px 5px 0px;
}

acronym {
	cursor: help;
	border-bottom: 1px solid #777;
}

blockquote {
	margin: 15px;
	padding: 0 0 0 30px;
	font: bold 1.3em/1.5em 'Trebuchet MS', Sans-serif;
	background: #FCFCF9;
	border: 1px solid #EFEFEF;
	color: #6C6E3A;
}

#header-content, #footer-content, #content {
	width: 810px;
}
#header-wrap, #footer-wrap, #content-wrap {
	min-width: 810px;
}

#header-wrap {
	height: 160px;
	text-align: left;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.47, rgb(1,11,33)),
	    color-stop(0.74, rgb(27,38,60)),
	    color-stop(0.87, rgb(54,65,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(1,11,33) 47%,
	    rgb(27,38,60) 74%,
	    rgb(54,65,90) 87%
	);

}

#header-content {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: inherit;
}

#header-content #logo {
	position: absolute;
	font: normal 40px/65px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
	color: #FFF;
	height: 65px;
	padding: 0 10px;
	margin: 0;

	/* change the values of left and top to adjust the position of the logo */
	top: 18px; left: 0px;
}

#header-content #logo a {
	text-decoration: none;
	color: #FFF;
	background: transparent;
}

#header-content #slogan {
	position: absolute;
	font: normal 12px 'Trebuchet MS', Tahoma, sans-serif;
	letter-spacing: 0px;
	color: #BBB;
	margin: 0; padding: 0;

	/* change the values of left and top to adjust the position of the slogan */
	top: 88px; left: 30px;
}

#header-content ul {
	position: absolute;
	right: 0px; top: 125px;
	font: bold 12px Georgia, "Times New Roman", Times, serif;
	list-style: none;
	margin: 0; padding: 0;
	text-transform: uppercase;
}

#header-content li:hover ul.link-list {
	display: block;
}

#header-content ul.link-list {
	top: 100%;
	left: 0;
	right: auto;
	background-color: rgb(1, 11, 33);
	display: none;
}

#header-content ul.link-list#api-list {
	left: 91px;
}

#header-content ul.link-list a {
	float: none;
}

#header-content li div {
	display: inline;
}

#header-content li {
	display: inline;
}

#header-content li a, #header-content li span {
	float: left;
	display: block;
	padding: 10px 18px;
	color: #F3A251;
	text-decoration: none;
}

#header-content li a:hover {
	color: #F88F26;
}

#header-content li a#current {
	color: #FFF;
}

#header-content #header-links {
	position: absolute;
	top: 5px; right:10px;
	color: #8E5F2F;
	font-size: 90%;
}

#header-content #header-links P {
	margin: 0; padding: 0;
}

#header-content #header-links a {
	color: #A4A4A4;
	text-decoration: none;
}

#header-content #header-links a:hover {
	color: #F3A251;
}

#content-wrap {
	clear: both;
	background: #FFF url(../images/contentbg.jpg) repeat-y center top;
	float: left;
	width: 100%;
}
#content {
	text-align: left;
	margin: 30px auto;
	padding: 0;
}

#sidebar {
	float: left;
	width: 190px;
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
}

#sidebar h1 {
	font: normal 1.8em Georgia, "Times New Roman", Times, serif;
	color: #6C6E3A;
	padding: 0;
	margin: 15px 0 10px 5px;
	letter-spacing:-1px;
}

#sidebar ul.sidemenu {
	margin: 5px 0 40px 0;
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	border-top: 1px dashed #E1E1E1;
	border-bottom: 1px dashed #E1E1E1;
}

#sidebar ul.sidemenu li {
	list-style: none;
	border-bottom: 1px dashed #E1E1E1;
}

#sidebar ul.sidemenu li:last-child {
	border-bottom: none;
}

#sidebar ul.sidemenu li a:before {
	content: "\00BB \0020";
	margin-left: -10px;
	margin-right: 6px;
}

#sidebar ul.sidemenu a {
	display: block;
	padding: .6em 0 .6em 10px;
	color: #666666;
	text-decoration: none;

	width: 94%;
}

#sidebar ul.sidemenu li.selected a {
	font-weight: bold;
	color: #F88F26;
}

#sidebar ul.sidemenu a:hover {
	color: #CB4721;
}

#main {
	margin: 0 20px 10px 0;
	padding: 0;
	width: 590px;
	float: left;
}

#main h1 {
	font: normal 3em Georgia, "Times New Roman", Times, serif;
	color: #111;
	padding: 0 0 5px 0;
	margin: 15px 15px 20px 15px;
	letter-spacing:-1px;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}

#main h1 a {
	color: #111;
	text-decoration: none;
}

#main p, #main h1, #main h2, #main h3, #main blockquote, #main form, #main table {
	margin-left: 0;
}

#main form p {
	margin: 15px;
}

p.back-to-home {
	text-align: right;
	font-style: italic;
}

p.back-to-home a {
	color: #B3B3B3;
}
#footer-wrap {
	position: relative;
	clear: both;
	padding: 2.5em 0;
	font: normal .95em 'Trebuchet MS', Tahoma, sans-serif;
	text-align: left;
	background: url(../images/footerbg.jpg) repeat-x 0 0;
	color: #CCC;
	width: 100%;
	float: left;
}

#footer-wrap p {
	margin: 20 0;
	text-align: center;
	font-style: italic;
}

#footer-content {
	margin: 0 auto;
}

#footer-content a {
	color: #C8935D;
}

#footer-content a:hover {
	color: #FFF;
	text-decoration: none;
}

/* alignment classes */
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear { clear: both; }
.orange { color: #F3A251; }

div.tweet {
	clear: both;
	float: left;
	margin-bottom: 1em;
}

div.tweet-content {
	margin-left: 1em;
	width: 500px;
	float: left;
}

.tweet-content p {
	margin-top: 0;
}

.loading-tweets, .loading-articles {
	font-style: italic;
	color: #999;
	font-size: 180%;
}

#articles, #tweets {
	display: block;
	margin-top: 24px;
	clear: both;
}

.article {
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
	padding-bottom: .8em;
}
.article .title {
	font-size: 120%;
}

p.error {
	font-size: 120%;
	color: #F00;
	font-style: italic;
}